.login-input{
    width: -webkit-fill-available;
}
.login-input input{
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 320px;
    border: 1px solid var(--bg-third);
}

.login-input input:focus{
    outline:1px solid var(--blue-color);
}

.input-error-border{
    border-color: #b94a48 !important;
}
.icon-wrap{
    display: flex;
    align-items: center;
}
.icon-wrap i{
    margin-left: -30px;
}

.input-error{
    position: relative;
    padding: 15px 10px;
    background: #b94a48;
    width: 100%;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.error-arrow-top{
    border-top: 15px solid #b94a48;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -10px;
}
.error-arrow-bottom{
    border-bottom: 15px solid #b94a48;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: -10px;
}

@media screen and (min-width: 850px) {
    .login-input input{
    width: 360px !important;
}

}

.input-error-desktop-top{
    position: absolute;
    width: 300px;
    margin-left: -310px;
    top: 60px;
}
.input-error-desktop-bottom{
       position: absolute;
    width: 300px;
    margin-left: -310px;
    margin-top: -50px;
}
.error-arrow-desktop{
    border-left: 10px solid #b94a48;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -10px;
    top: 10px;
}
